{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Signup {% endblock %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.row2{
    padding-top: 40px;
  }

.button3 {
  font-family: "Proxima Nova";
  position: relative;
  top:50%;
  left:45%;
  background-color: #42493A; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
      }
</style>

<div class="row2">
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="static/farmer2.jpg" alt="Farmer" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b><a class="nav-item nav-link" href="signup">Maging MAGSASAKA!</a></b></p>
      <p>Alamin kung ano ang kinakailangan bilang magsasaka at maranasang maging tulad nila. Matuto mula sa aming katuwang na mga magsasaka kung papaano magpunla ng binhi at patuloy na itaguyod ang agrikultura.</p>
    </div>
  </div>
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="static/intern.jpg" alt="Intern" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b><a class="nav-item nav-link" href="signup">Maging INTERN!</a></b><br><br></p>
      <p> Kung ikaw ay estudyante o mananaliksik, samahan kami't maging katuwang sa pagtulong sa ating mga magsasaka gamit ang siyensya.<br>
      </p>
    </div>
  </div>
  <div class="w3-third w3-container">
    <img src="static/educator.jpg" alt="Educator" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b><a class="nav-item nav-link" href="signup">Maging TAGAPAGTURO!<br><br></a></b></p>
      <p>Makiisa sa amin sa pakikipagtalakayan sa isyung agrikultural at imulat ang masa kung papaano nga ba maging magsasaka sa Pilipinas. <br></p>
    </div>
  </div>
</div>
<div class="row2">
  <img src="static/signup.jpg" style="width:50%" class="center">
</div>
<div class="container">

  <form class="form-signin" method="POST" action="/signup">
    <br>
    <br>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.first_name) }}
    {{ wtf.form_field(form.last_name) }}
    {{ wtf.form_field(form.age) }}

    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.confirm) }}

    {{ wtf.form_field(form.option) }}
    {{ wtf.form_field(form.profession) }}
    {{ wtf.form_field(form.residence) }}
    {{ wtf.form_field(form.organization) }}
    {{ wtf.form_field(form.essay) }}
    <br>
    <button class="button3" type="submit">Sign Up</button>
  </form>
</div> <!-- /container -->
{% endblock %}
