{% extends "base.html" %}
{% block title %} Coming Soon {% endblock %}
{% block content %}
<!-- Top -->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <img src="static/soon.jpg" style="width:100%">
  <div class="left">
    <h1>Oops! Pasensya na,<br>hindi pa tapos ang pahinang ito!</h1> <br>
    <h2> Ikaw ay nasa beta version pa lamang. <br> Kami ay patuloy sa pagkalap
        ng mga data <br>para sa ikagaganda ng NAYON.</h2>
    <br>
    <a href="home" class="btn btn-success" role="button">Home</a>
    <br>
</div>
</div>



{% endblock %}
