{% extends "base.html" %}
{% block title %} Coming Soon {% endblock %}
{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  h1 {
    font-weight: 750;
    font-size: 45px;
    font-family: "Proxima Nova", sans-serif}

  .left{
    position:absolute;
    top:35%;
    left:25%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);}
    .button3 {
      font-family: "Proxima Nova";
      position: relative;
      top:50%;
      left:25%;
      background-color: #42493A; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }

</style>

<!-- Top -->
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <img src="static/soon.jpg" style="width:100%">
  <div class="left">
    <h1>Oops! Pasensya na,<br>hindi pa tapos ang pahinang ito!</h1> <br>
    <h2> Ikaw ay nasa beta version pa lamang. <br> Kami ay patuloy sa pagkalap
        ng mga data <br>para sa ikagaganda ng NAYON.</h2>
    <br>
    <a href="home" class="btn btn-success" role="button">Home</a>
    <br>
</div>
</div>



{% endblock %}
